# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sekolahhub?schema=public"

# NextAuth
NEXTAUTH_SECRET="change-this-to-a-random-secret-key-in-production"
NEXTAUTH_URL="http://localhost:3000"

# Storage (Vercel Blob / S3)
BLOB_READ_WRITE_TOKEN=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_BUCKET_NAME=""
AWS_REGION="ap-southeast-1"
